<div menu>
</div>
<div class="container">
    <div class="wrapper"></div>
    <div class="oms-roboto oms-h1 oms-red-text">Citas</div>



    <!-- Toolbar que sirve para mostrar algunas opciones extras que se pueden ejecutar sobre las lista -->


    <!-- <div class="row oms-toolbar">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="oms-form-group">
                    <input class="form-control oms-input green" placeholder="buscar por paciente" type="text" />
                    <span class="oms-input-group-btn">
                        <a href="" class="oms-btn oms-btn-green">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Buscar
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="pull-right oms-btn-group">
                    <a data-toggle="modal" data-target="#insertModal" ng-click="citaNuevo()" class="oms-btn oms-btn-green" href="">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Sacar cita
                    </a>
                    <a ng-click="getAllCitas()" href=""  class="oms-btn oms-btn-blue" href="">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        Consultar todos
                    </a>
                </div>
            </div>
        </div> -->

    <!-- Lista de elementos a consultar y manipular -->

    <div class="list-group">
        <a href="" ng-if="citas == null || citas.legth == 0" class="list-group-item disabled">
            No se ha encontrado ninguna resultado
        </a>
        <a href="" ng-repeat="a in citas" class="list-group-item" data-toggle="modal" data-target="#basicModal" ng-click="setCita(a)">
            <div class="oms-h3 oms-roboto oms-light-blue-text">
                Especialidad: {{a.especialidad}}
            </div>
            <b>Fecha de consulta:</b> {{a.fecha}} a las {{a.hora}}
            <br>
            <b>Estado:</b> {{a.estado}}
        </a>
    </div>


    <br>


    <!-- Modal que muestra la información detallada del elemento a consultar -->

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Informacion</h4>
                </div>
                <div class="modal-body">
                    <div class="oms-roboto oms-h1">{{cita.nombre}}</div>
                    <div ng-readonly="true" class="oms-roboto">Especialidad: </div>
                    <input class="form-control oms-input" type="text" ng-model="cita.especialidad" />
                    <div class="oms-roboto">Fecha: </div>
                    <input class="form-control oms-input" type="text" ng-model="cita.fecha" />
                    <div ng-readonly="true" class="oms-roboto">Hora: </div>
                    <input class="form-control oms-input" type="text" ng-model="cita.hora" />
                    <div ng-readonly="true" class="oms-roboto">Observacion: </div>
                    <input class="form-control oms-input" type="text" ng-model="cita.observacion" />
                    <br>
                </div>
                <div class="modal-footer">
                    <div class="oms-btn-group">

                        <a ng-if="cita.estado=='Registrada'" class="oms-btn oms-btn-red" data-dismiss="modal" data-toggle="modal" data-target="#deleteConfirmModal"
                            href="">
                            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                            Cancelar cita
                        </a>
                        <a class="oms-btn oms-btn-blue" data-dismiss="modal" data-toggle="modal" data-target="#updateConfirmModal"
                            href="">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            Reasignar cita
                        </a>
                        <a class="oms-btn oms-btn-green" data-dismiss="modal" href="">Cerrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para confirmar si se desea eliminar algun dato-->

    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Alerta!</h4>
                </div>
                <div class="modal-body">
                    ¿Desea continuar con la accion?
                </div>
                <div class="modal-footer">
                    <div class="oms-btn-group">
                        <a ng-click="removeCita()" class="oms-btn oms-btn-red" data-dismiss="modal" href="">Si</a>
                        <a class="oms-btn oms-btn-green" data-dismiss="modal" href="">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            No
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para confirmar si se desea actualizar algun dato-->


    <div class="modal fade" id="updateConfirmModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Alerta!</h4>
                </div>
                <div class="modal-body">
                    ¿Desea continuar con la accion?
                </div>
                <div class="modal-footer">
                    <div class="oms-btn-group">
                        <a ng-click="updateCita()" class="oms-btn oms-btn-red" data-dismiss="modal" href="">Si</a>
                        <a class="oms-btn oms-btn-green" data-dismiss="modal" href="">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            No
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


<style>
    html,
    body {
        background-color: #DDDDDD;
        min-height: 100%;
        height: 100%;
    }

    /* .oms-form-group{
            position: relative;
            display: table;
            border-collapse: separate;
        } */
</style>

<script>
    $("a.rename").click(function (e) {
        alert("calling the four giants");
        e.preventDefault();
        var $this = $(this);
        var fileName = $(this).data("file");
        $("#basicModal").data("fileName", fileName).modal("toggle", $this);

    });

    $("#basicModal").on("shown.bs.modal", function (e) {
        //data-fileName attribute associated with the modal added in the click event of the button
        // alert($(this).data("fileName"));
        // //my data-file associated with the button 
        // alert($(e.relatedTarget).data("file"));
    })


</script>